.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  position: absolute;
  z-index: 1;
}

.header__title {
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
}

.header__main-ilustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 756px;
  height: 608px;
  z-index: 1;
}

.header__square {
  position: absolute;
  top: 64px;
  right: 0px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

/* Aquí tenemos dos ejemplos de selectores para 
recordarte cómo configurar los estilos de los elementos*/
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* incluidos aquellos con modificadores clave-valor */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
  flex-direction: column;
}

.descripction__title {
  width: 175px;
  flex-direction: row;
}

.descripction__paragraph {
  width: 80%;
  min-width: 784px;
  gap: 30px;
  text-align: right;
}
